
.container{
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    align-content:center;
    gap: 3px;
}

div{
    background-color: blue;
    color:white;
    border: 2px solid purple;
    margin: 5px;
    height: 30px;
   
}

.item-1{
    order: 4; 
}
.item-2{
    order:3;
  
}
.item-3{
    order:1;
}
.item-4{
    order:2;
    flex-grow: 2;
}

